In [1]:
import pandas as pd
import numpy as np
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import tqdm
from tqdm.notebook import tqdm_notebook

# 4.1 Reverse Geocoding to Extract Address of Temp with Location

In [2]:
Temp=pd.read_excel('Temp with Location.xlsx')
Temp.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime_x,Box no_x,tag_id_y,temp,DateTime_y,Month,Year
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,33.19,2022-03-26 06:00:00,3,2022
1,2022-03-26 06:05:08,2031010506,tbx-fx-A1221126,23.044368,72.517638,2022-03-26 06:10:00,AHB-002,2031010506,28.97,2022-03-26 06:10:00,3,2022
2,2022-03-26 06:15:02,2031010506,tbx-fx-A1221126,23.044395,72.517507,2022-03-26 06:20:00,AHB-002,2031010506,29.11,2022-03-26 06:20:00,3,2022
3,2022-03-26 06:47:47,2031010506,tbx-fx-A1221126,23.044339,72.517495,2022-03-26 06:50:00,AHB-002,2031010506,29.56,2022-03-26 06:50:00,3,2022
4,2022-03-26 07:20:20,2031010506,tbx-fx-A1221126,23.044355,72.517395,2022-03-26 07:20:00,AHB-002,2031010506,30.10,2022-03-26 07:20:00,3,2022

In [3]:
Temp['Geom'] = Temp['lat'].map(str) + ',' + Temp['long'].map(str)
Temp.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime_x,Box no_x,tag_id_y,temp,DateTime_y,Month,Year,Geom
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,33.19,2022-03-26 06:00:00,3,2022,"23.04454,72.517464"
1,2022-03-26 06:05:08,2031010506,tbx-fx-A1221126,23.044368,72.517638,2022-03-26 06:10:00,AHB-002,2031010506,28.97,2022-03-26 06:10:00,3,2022,"23.044368,72.517638"
2,2022-03-26 06:15:02,2031010506,tbx-fx-A1221126,23.044395,72.517507,2022-03-26 06:20:00,AHB-002,2031010506,29.11,2022-03-26 06:20:00,3,2022,"23.044395,72.517507"
3,2022-03-26 06:47:47,2031010506,tbx-fx-A1221126,23.044339,72.517495,2022-03-26 06:50:00,AHB-002,2031010506,29.56,2022-03-26 06:50:00,3,2022,"23.044339,72.517495"
4,2022-03-26 07:20:20,2031010506,tbx-fx-A1221126,23.044355,72.517395,2022-03-26 07:20:00,AHB-002,2031010506,30.10,2022-03-26 07:20:00,3,2022,"23.044355,72.517395"

In [4]:
locator = Nominatim(user_agent='myGeocoder', timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

In [5]:
tqdm_notebook.pandas()
Temp['Address'] = Temp['Geom'].progress_apply(rgeocode)
Temp.head()

  0%|          | 0/745 [00:00<?, ?it/s]

,con_datetime_x,tag_id_x,gw,lat,long,DateTime_x,Box no_x,tag_id_y,temp,DateTime_y,Month,Year,Geom,Address
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,33.19,2022-03-26 06:00:00,3,2022,"23.04454,72.517464","(Sargam Marg, Gurukul, Vastrapur, Ahmedabad, A..."
1,2022-03-26 06:05:08,2031010506,tbx-fx-A1221126,23.044368,72.517638,2022-03-26 06:10:00,AHB-002,2031010506,28.97,2022-03-26 06:10:00,3,2022,"23.044368,72.517638","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
2,2022-03-26 06:15:02,2031010506,tbx-fx-A1221126,23.044395,72.517507,2022-03-26 06:20:00,AHB-002,2031010506,29.11,2022-03-26 06:20:00,3,2022,"23.044395,72.517507","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
3,2022-03-26 06:47:47,2031010506,tbx-fx-A1221126,23.044339,72.517495,2022-03-26 06:50:00,AHB-002,2031010506,29.56,2022-03-26 06:50:00,3,2022,"23.044339,72.517495","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
4,2022-03-26 07:20:20,2031010506,tbx-fx-A1221126,23.044355,72.517395,2022-03-26 07:20:00,AHB-002,2031010506,30.10,2022-03-26 07:20:00,3,2022,"23.044355,72.517395","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."

In [7]:
Temp.to_excel('Address of Temp with Location.xlsx',index=False)

# 4.2 Reverse Geocoding to Extract Address of Light with Location

In [8]:
Light=pd.read_excel('Lidopen with location.xlsx')
Light.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Lidopen
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,1
1,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,1
2,2022-03-27 07:42:54,2031010108,tbx-fx-A1221126,23.044475,72.517446,2022-03-27 07:40:00,AHB-003,2031010108,1
3,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1
4,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1

In [9]:
Light['Geom'] = Light['lat'].map(str) + ',' + Light['long'].map(str)
Light.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Lidopen,Geom
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,1,"23.04454,72.517464"
1,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,1,"23.0444,72.517497"
2,2022-03-27 07:42:54,2031010108,tbx-fx-A1221126,23.044475,72.517446,2022-03-27 07:40:00,AHB-003,2031010108,1,"23.044475,72.517446"
3,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1,"23.04433,72.517586"
4,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1,"23.04433,72.517586"

In [10]:
locator = Nominatim(user_agent='myGeocoder', timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

In [11]:
tqdm_notebook.pandas()
Light['Address'] = Light['Geom'].progress_apply(rgeocode)
Light.head()

  0%|          | 0/31 [00:00<?, ?it/s]

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Lidopen,Geom,Address
0,2022-03-26 05:58:32,2031010108,tbx-fx-A1221126,23.044540,72.517464,2022-03-26 06:00:00,AHB-003,2031010108,1,"23.04454,72.517464","(Sargam Marg, Gurukul, Vastrapur, Ahmedabad, A..."
1,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,1,"23.0444,72.517497","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
2,2022-03-27 07:42:54,2031010108,tbx-fx-A1221126,23.044475,72.517446,2022-03-27 07:40:00,AHB-003,2031010108,1,"23.044475,72.517446","(Sargam Marg, Gurukul, Vastrapur, Ahmedabad, A..."
3,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1,"23.04433,72.517586","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
4,2022-03-28 04:55:12,2031010108,tbx-fx-A1221126,23.044330,72.517586,2022-03-28 05:00:00,AHB-003,2031010108,1,"23.04433,72.517586","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."

In [12]:
Light.to_excel('Address of Light with Location.xlsx',index=False)

# 4.3 Reverse Geocoding to Extract Address of Shock with Location

In [13]:
Shock=pd.read_excel('Shock with location.xlsx')
Shock.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Shock
0,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,0.277128
1,2022-03-26 12:45:44,2031010170,tbx-fx-A1221126,23.044413,72.517501,2022-03-26 12:50:00,AHB-001,2031010170,0.226274
2,2022-03-26 13:34:24,2031010506,tbx-fx-A1221126,23.044385,72.517506,2022-03-26 13:30:00,AHB-002,2031010506,0.226274
3,2022-03-26 13:48:15,2031010170,tbx-fx-A1221126,23.044403,72.517507,2022-03-26 13:50:00,AHB-001,2031010170,0.277128
4,2022-03-26 14:48:58,2031010170,tbx-fx-A1221126,23.044452,72.517484,2022-03-26 14:50:00,AHB-001,2031010170,0.160000

In [14]:
Shock['Geom'] = Shock['lat'].map(str) + ',' + Shock['long'].map(str)
Shock.head()

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Shock,Geom
0,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,0.277128,"23.0444,72.517497"
1,2022-03-26 12:45:44,2031010170,tbx-fx-A1221126,23.044413,72.517501,2022-03-26 12:50:00,AHB-001,2031010170,0.226274,"23.044413,72.517501"
2,2022-03-26 13:34:24,2031010506,tbx-fx-A1221126,23.044385,72.517506,2022-03-26 13:30:00,AHB-002,2031010506,0.226274,"23.044385,72.517506"
3,2022-03-26 13:48:15,2031010170,tbx-fx-A1221126,23.044403,72.517507,2022-03-26 13:50:00,AHB-001,2031010170,0.277128,"23.044403,72.517507"
4,2022-03-26 14:48:58,2031010170,tbx-fx-A1221126,23.044452,72.517484,2022-03-26 14:50:00,AHB-001,2031010170,0.160000,"23.044452,72.517484"

In [15]:
locator = Nominatim(user_agent='myGeocoder', timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

In [16]:
tqdm_notebook.pandas()
Shock['Address'] = Shock['Geom'].progress_apply(rgeocode)
Shock.head()

  0%|          | 0/90 [00:00<?, ?it/s]

,con_datetime_x,tag_id_x,gw,lat,long,DateTime,Box no_x,tag_id_y,Shock,Geom,Address
0,2022-03-26 08:41:11,2031010108,tbx-fx-A1221126,23.044400,72.517497,2022-03-26 08:40:00,AHB-003,2031010108,0.277128,"23.0444,72.517497","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
1,2022-03-26 12:45:44,2031010170,tbx-fx-A1221126,23.044413,72.517501,2022-03-26 12:50:00,AHB-001,2031010170,0.226274,"23.044413,72.517501","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
2,2022-03-26 13:34:24,2031010506,tbx-fx-A1221126,23.044385,72.517506,2022-03-26 13:30:00,AHB-002,2031010506,0.226274,"23.044385,72.517506","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
3,2022-03-26 13:48:15,2031010170,tbx-fx-A1221126,23.044403,72.517507,2022-03-26 13:50:00,AHB-001,2031010170,0.277128,"23.044403,72.517507","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."
4,2022-03-26 14:48:58,2031010170,tbx-fx-A1221126,23.044452,72.517484,2022-03-26 14:50:00,AHB-001,2031010170,0.160000,"23.044452,72.517484","(Bodakdev, Daskroi Taluka, Ahmedabad District,..."

In [17]:
#conditions = [(Shock['Shock'] >= 0) & (Shock['Shock'] <=2),
#              (Shock['Shock']>= 2) & (Shock['Shock'] <= 6),
#              (Shock['Shock'] >= 6) & (Shock['Shock'] <= 100)]

#values = ['0-2','2-6', '>6']

#Shock['Condition'] = np.select(conditions, values)

#Shock.head()

In [18]:
Shock.to_excel('Address of Shock with Location.xlsx',index=False)